<div class="signin_content">
  <div id="signin_form">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div style="margin-bottom: 13px;">
          <%= f.check_box :remember_me, :style => "vertical-align: top;" %>
          <%= f.label :remember_me, :style =>"display:inline-block; margin-left: 20px;" %>
        </div>
      <% end -%>

      <div>
        <%= f.submit "Sign in", :class => "sample btn custom large k" %>
      </div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>