<!DOCTYPE html>
<html>
  <head>
    <title>Meal</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <div id="header">
      <div class="left_logo">
        <%= link_to("Meal", root_path(), :class => "logo") %> |
        <a class="contact"> Contact  </a>
      </div>
      <div class="search">
        <%= render :partial => 'shared/search_form' %>
        <div class="user_session">
          <% if current_user.present? %>
            <%#= link_to("LogOut(#{current_user.name})", destroy_user_session_path()) %>
            <%= link_to("#{current_user.name}", edit_user_registration_path()) %>
          <%else%>
            <%= link_to("LogIn", new_user_session_path(), :style => "color:#0088CC;") %> |
            <%= link_to("SignUp", new_user_registration_path(), :style => "color:#0088CC;") %>
          <%end%>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="nav">
        <ul>
          <li>
            <%= link_to("Home", root_path()) %> 
          </li>
          <li>
            <%= link_to("New Bill", new_account_path()) %> 
          </li>
          <li>
            <%= link_to("My Bill", accounts_path()) %> 
          </li>
          <li>
            <%= link_to("Entry Bazar", new_bazar_path()) %> 
          </li>
          <li>
            <%= link_to("Bazar", bazars_path()) %>
          </li>
        </ul>
      </div>
      <div id="slides">
        <div class="slides_container">
          <div>
            <img alt="Slide show" src="/assets/slide/slide1.png"/>
          </div>
          <div>
            <img alt="Slide show" src="/assets/slide/slide2.png"/>
          </div>
          <div>
            <img alt="Slide show" src="/assets/slide/slide3.png"/>
          </div>
          <div>
            <img alt="Slide show" src="/assets/slide/slide4.png"/>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
  <div id="footer">

  </div>
  <script type="text/javascript">
    $(function(){
      $("#slides").slides({
        preload: true,
        preloadImage: '/assegs/loading.gif',
        play: 5000,
        pause: 2500,
        hoverPause: true,
        animationStart: function(current){
          $('.caption').animate({
            bottom:-35
          },100);
          if (window.console && console.log) {
            // example return of current slide number
            console.log('animationStart on slide: ', current);
          };
        },
        animationComplete: function(current){
          $('.caption').animate({
            bottom:0
          },200);
          if (window.console && console.log) {
            // example return of current slide number
            console.log('animationComplete on slide: ', current);
          };
        },
        slidesLoaded: function() {
          $('.caption').animate({
            bottom:0
          },200);
        }
      });
    });
  </script>
</html>
